/* Collection tab css */
.collection_tab {
    text-align: center;
    display: initial;
    padding: 0 30px;
}
.collection_tab a {
color: #c2c2c2;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
text-align: center;
padding: 11px 0;
}
@media (min-width: 767px) {
.collection_tab_wrapper {
    list-style: none;
    padding: 10px 4px;
    border-bottom: 1px solid #c2c2c2;
    cursor: pointer;
}
}
@media (max-width: 767px) {
.collection_tab_wrapper {
    border: 1px solid #c2c2c2;
    position: relative;
    padding: 0;
}
.collection_tab_wrapper::after {
    content: "â¯";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
    rotate: 90deg;
    color: #c2c2c2;
}
.collection_tab_wrapper.open a {
    position: relative;
    display: block;
}
.collection_tab.active > a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 8px 0;
    background: #fff;
}
.collection_tab {
    display: block;
}
.collection_tab a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
}

/* Key ingredients */
.text--center{
    text-align: center;
}
.key_ingredients {
    background: gainsboro;
    padding: 20px;
}
.key_ingredients_wrapper {
    padding: 20px 20px 40px;
}
.ingredients_title{
    text-transform: uppercase;
}
.ingredients {
    width: fit-content;
    padding: 0 10px;
}
.ingredients_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: fill;
    margin: 0 auto;
    display: block;
}
.ingredients_brief,
.ingredients_title {
    color: #346f34;
}
button.modal-toggle {
    background: no-repeat;
    border: none;
    text-transform: uppercase;
    color: #346f34;
    border-bottom: 1px solid #346f34;
    padding: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.modal_details {
    color: #346f34;
}

/* Modal css */
.modal {
    display: none;
    position: fixed;
    z-index: 8887;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 60%);
    transition: all 1s ease-in-out;
}
.modal-content {
    background: #fff;
    margin: 10vh auto;
    overflow-y: auto;
    padding: 20px;
    width: 75%;
    border-radius: 8px;
}
.modal-top {
    margin-left: auto;
    text-align: right;
}
.modal-close {
    color: #346f34;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    font-weight: 100;
}
.modal-close:hover, .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}
.modal-title {
    color: #fff;
}
.ingredients_modal_img {
    border-radius: 50%;
}
@media (min-width: 1366px) {
    .modal-content {
        margin: 10vh auto;
        padding: 20px;
        width: 30%;
   }
}
@media (min-width: 999px) {
    .key_ingredients_wrapper{
        display: flex;
    }
    .modal_details {
        display: flex;
    }
    .ingredients_modal_img {
        width: 250px;
        height: 250px;
        margin: 0 50px 50px 0;
    }
}
@media (max-width: 999px) {
    .ingredients {
        padding: 20px 10px;
    }
}